.statistics {
  margin-left: 25px;
  margin-top: 25px;
  width: 335px;

  border: solid 1px rgb(211, 221, 221);

  margin-left: 250px;
}

.title {
  font-size: 16p;
  color: #333333;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

.stat-list {
  height: 60px;
  display: flex;
  list-style: none;
}

.stat-list__item {
  width: 70px;
  border: solid 1px rgb(28, 0, 128);
}

.label {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
}

.percentage {
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
}
